html,
body {
  padding: 0;
  margin: 0;
  background: #1a1b24;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {margin: 0; font-size: 20px;}
h2 {margin: 0;}
h3 {margin: 0 0 10px;}

p {margin: 0 0 10px;}

table {width: 100%;}
table tr td {padding: 10px; border-bottom: 1px solid rgba(255,255,255,.1);}
table tr td a {display: block;}

table.times {text-align: left;}
table.times tr td {padding: 5px 10px;}
table.times tr td.time {text-align: right; font-family: monospace; font-weight: bold; font-size: 14px; letter-spacing: 1.5px;}

small {opacity: .75;}
