html,
body {
  padding: 0;
  margin: 0;
  background: #1a1b24;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {margin: 0; font-size: 20px;}
h2 {margin: 0;}
h3 {margin: 0 0 10px;}

p {margin: 0 0 10px;}

small {opacity: .75;}
