html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {width: 100%; background-color: #f3f3f3;}
table tr td {padding: 10px; border-bottom: 1px solid #fff;}
table tr td a {display: block;}

table.times tr td {padding: 5px 10px;}

small {opacity: .75;}